<%= link_to root_path do %>
  <h1 class="waiting">Go back</h1>
<% end %>

<% @images.each do |image| %>
  <%= link_to image.url, class: 'seen-image-href' do %>
    <%= image_tag image.url, class: 'seen-image' %>
  <% end %>
<% end %>
