<h1 class="waiting">
  Už jen <%= (DateTime.civil(2016,12,13) - DateTime.now).to_i %> dní! Miluji Tě!
</h1>
<%= image_tag @image_url, class: "absoluteCenter" %>

<%= link_to seen_path, class: 'seen-pictures' do %>
  <h3>Seen pictures</h3>
<% end %>
