<style>
  .absoluteCenter {
    margin:auto;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
  }

  /* Sizing */
  img.absoluteCenter {
    max-height:100%;
    max-width:100%;
  }
</style>

<% if DateTime.now >= DateTime.civil(2016, 8, 1) || Rails.env.development? %>
  <%= image_tag @image_url, class: "absoluteCenter" %>
<% else %>
  <h1>W8 4 it until 1.8.2016!</h1>
<% end %>

